# Pré-Processamento e limpeza dos Dados

# 1.0- Imports

In [2]:
import pandas as pd
import numpy as np

# 1.1- Visão Geral dos dados.

In [21]:
df = pd.read_csv('data-test-analytics_5.csv') 
df.head()

,id,created_at,updated_at,deleted_at,name_hash,email_hash,address_hash,birth_date,status,version,city,state,neighborhood,last_date_purchase,average_ticket,items_quantity,all_revenue,all_orders,recency,marketing_source
0,8bf7960e-3b93-468b-856e-6c6c5b56f52b,08/15/17 07:05 AM,01/14/21 11:23 AM,NaN,312d206168a318614897e8ccac43bff9,83eb3aed9a44377df80ce876dce92c9a,8b4bfaa0cbc41a16f46da15ddcd6a907,07/10/74 12:00 AM,active,2.31.7,Peixoto da Praia,AM,Aparecida 7ª Seção,01/14/21 11:23 AM,151.142942,10,906.857651,6,35,crm
1,a39535b5-4647-4680-b4f6-3aed57c1f1ff,12/31/19 09:53 PM,01/08/21 11:23 AM,NaN,de448fcb47d0d6a873b2eef52b5ee595,72678bb35e2ac84ed373e81dd9dca28c,22f1cfa1847f38da3f3cb114dd2b9247,07/06/40 12:00 AM,paused,3.30.12,Fernandes,RR,Santa Isabel,01/08/21 11:23 AM,236.991790,4,236.991790,1,41,organic_search
2,dc067cd2-c021-42bd-8c0e-beb267280e66,03/07/19 11:46 PM,01/07/21 11:23 AM,NaN,cb09e447ddc38283373d56bb46498e6a,668f4ee9add29c7bd02c485f1b7509e3,6cb47446a086ee6483b3eb954f11467a,03/18/63 12:00 AM,active,3.28.9,Lopes,RR,Estrela,01/07/21 11:23 AM,211.955597,13,2331.511572,11,42,organic_search
3,b5e4caeb-3a9b-49ed-aa33-5acd06b162c1,07/21/18 10:17 AM,01/10/21 11:23 AM,NaN,52593437a405b11b3557170680ef80c8,d3fb45188d95c8d7cc49da5b4f727c86,0a6f0c54db1e6f19347f96b50f8092a4,11/21/80 12:00 AM,active,3.34.3,Campos do Campo,PE,Confisco,01/10/21 11:23 AM,204.113227,8,1224.679359,6,39,organic_search
4,d4ff61fc-f008-4e19-b8ae-bd70cfa3ae27,06/08/18 12:09 PM,01/18/21 11:23 AM,NaN,dbda4b778a966c21904238ed2d2005db,a0f76bc49b4c43327b536da6e1a1465e,143b9f169b4fa1692f6d79b5682169b5,07/07/59 12:00 AM,active,3.19.8,das Neves,RJ,Vila Suzana Segunda Seção,01/18/21 11:23 AM,252.940997,9,2023.527980,8,31,crm

In [22]:
#verificando dados duplicados
df.duplicated().sum

<bound method Series.sum of 0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool>

In [23]:
#verificando valores nulos
df.isnull().sum

<bound method DataFrame.sum of          id  created_at  updated_at  deleted_at  name_hash  email_hash  \
0     False       False       False        True      False       False
1     False       False       False        True      False       False
2     False       False       False        True      False       False
3     False       False       False        True      False       False
4     False       False       False        True      False       False
...     ...         ...         ...         ...        ...         ...
9995  False       False       False        True      False       False
9996  False       False       False        True      False       False
9997  False       False       False        True      False       False
9998  False       False       False        True      False       False
9999  False       False       False        True      False       False

      address_hash  birth_date  status  version   city  state  neighborhood  \
0            False       False   False    False  False  False         False
1            False       False   False    False  False  False         False
2            False       False   False    False  False  False         False
3            False       False   False    False  False  False         False
4            False       False   False    False  False  False         False
...            ...         ...     ...      ...    ...    ...           ...
9995         False       False   False    False  False  False         False
9996         False       False   False    False  False  False         False
9997         False       False   False    False  False  False         False
9998         False       False   False    False  False  False         False
9999         False       False   False    False  False  False         False

      last_date_purchase  average_ticket  items_quantity  all_revenue  \
0                  False           False           False        False
1                  False           False           False        False
2                  False           False           False        False
3                  False           False           False        False
4                  False           False           False        False
...                  ...             ...             ...          ...
9995               False           False           False        False
9996               False           False           False        False
9997               False           False           False        False
9998               False           False           False        False
9999               False           False           False        False

      all_orders  recency  marketing_source
0          False    False             False
1          False    False             False
2          False    False             False
3          False    False             False
4          False    False             False
...          ...      ...               ...
9995       False    False             False
9996       False    False             False
9997       False    False             False
9998       False    False             False
9999       False    False             False

[10000 rows x 20 columns]>

Columas como ID, NAME_HASH, EMAIL_HASH, ADDRESS_HASH, BIRTH_DATE  podem ser removidas, já que não apresentam impactos significativo para a Análise e melhorando o desempenho .

In [24]:
df.drop(columns=[
    'id', 'name_hash', 'email_hash', 'address_hash','birth_date'
], inplace=True)

In [25]:
# Verificando os tipos de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   created_at          10000 non-null  object
 1   updated_at          10000 non-null  object
 2   deleted_at          505 non-null    object
 3   status              10000 non-null  object
 4   version             10000 non-null  object
 5   city                10000 non-null  object
 6   state               10000 non-null  object
 7   neighborhood        10000 non-null  object
 8   last_date_purchase  10000 non-null  object
 9   average_ticket      10000 non-null  float64
 10  items_quantity      10000 non-null  int64
 11  all_revenue         10000 non-null  float64
 12  all_orders          10000 non-null  int64
 13  recency             10000 non-null  int64
 14  marketing_source    10000 non-null  object
dtypes: float64(2), int64(3), object(10)
memory usage: 1.1+ MB

As Datas nas colunas estão com formatação incorreta. Dessa forma foi Utilizado o seguinte função para resolução.

In [1]:
def formatar_datas(dados, colunas):
    for coluna in colunas:
        df[coluna] = pd.to_datetime(dados[coluna], errors='coerce').dt.strftime('%m/%d/%Y %I:%M %p')

Após o tratamento, o dataframe é salvo já com melhorias e mais eficiente.

In [35]:
df.to_csv('dados_tratados.csv', index=False) # index false para evitar salvar o indice como uma coluna extra